{% extends "layout.twig" %}
{% block content %}

    <div class="card mb-4">
        <div class="card-header">
            <div class="row">
                <div class="col-9">
                    <h3 class="card-title">Статьи</h3>
                </div>

            </div>
        </div>



        <!-- /.card-header -->
        <div class="card-body">
            <form action="/admin/article/add" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">Введите текст</label>
                    <input type="text" name="title" class="form-control" id="exampleInputEmail1" value="{{ article.title }}" >
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Вставьте картинку</label>
                    <input type="text" name="image" class="form-control" id="exampleInputEmail1" value="{{ article.image }}" placeholder="URL Image">
                </div>
                <input type="hidden" name="id" value="{{ article.id }}">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Content</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="content">
                        {{ article.content }}
                    </textarea>
                </div>
                <div class="form-group p-2">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
    <!-- /.card -->

{% endblock %}